.video{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video__title{
    width: 60%;
    font-weight: bold;
    line-height: 1.15;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
  }
  
  .video__subtitle{
    width: 60%;
    font-weight: normal;
    line-height: 34px;
    font-size: 24px;
    text-align: center;
    margin: 0;
  }

  .video__iframes{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .video__iframe{
    padding-top: 50px;
    border: none;
  }